# Chloropleth Plot on Countries involved in Great Space Race:

This notebook helps to understand the competitive space race. we are using plotly library to visualize the chloropethal depiction of their strength in space engineering.

In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_csv("../datasets/Space_Exploration_Cleaned.csv")
df.head()

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Country,DateTime,Year,Launch_Site,Count,Month
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.00,Success,USA,2020-08-07 05:12:00+00:00,2020,"LC-39A, Kennedy Space Center, Florida",1,Aug
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,China,2020-08-06 04:01:00+00:00,2020,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",1,Aug
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,USA,2020-08-04 23:57:00+00:00,2020,"Pad A, Boca Chica, Texas",1,Aug
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.00,Success,Kazakhstan,2020-07-30 21:25:00+00:00,2020,"Site 200/39, Baikonur Cosmodrome",1,Jul
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.00,Success,USA,2020-07-30 11:50:00+00:00,2020,"SLC-41, Cape Canaveral AFS, Florida",1,Jul

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company Name    4324 non-null   object
 1   Location        4324 non-null   object
 2   Datum           4324 non-null   object
 3   Detail          4324 non-null   object
 4   Status Rocket   4324 non-null   object
 5   Rocket          964 non-null    float64
 6   Status Mission  4324 non-null   object
 7   Country         4324 non-null   object
 8   DateTime        4324 non-null   object
 9   Year            4324 non-null   int64
 10  Launch_Site     4324 non-null   object
 11  Count           4324 non-null   int64
 12  Month           4324 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 439.3+ KB

As we are going visualize their performance per country in great space race , we are taking the important features.

In [4]:
countries_1 = pd.DataFrame({})

countries_1["Name"] = df["Country"]

countries_1["Count"] = df["Count"]

countries_1.head()

         Name  Count
0         USA      1
1       China      1
2         USA      1
3  Kazakhstan      1
4         USA      1

Now, creating country wise personal contribution towards space race .

In [5]:
c_name = countries_1["Name"].unique()
c_count = []

for country in c_name:
    value_df = countries_1[countries_1["Name"] == country]
    value = sum(value_df["Count"])
    c_count.append(value)
for i in range(len(c_name)):
    print(c_name[i], "--->", c_count[i])

USA ---> 1344
China ---> 268
Kazakhstan ---> 701
Japan ---> 126
Israel ---> 11
New Zealand ---> 13
Russia ---> 1395
Shahrud Missile Test Site ---> 1
France ---> 303
Iran ---> 13
India ---> 76
New Mexico ---> 4
Yellow Sea ---> 1
North Korea ---> 5
Pacific Missile Range Facility ---> 1
Pacific Ocean ---> 36
South Korea ---> 3
Barents Sea ---> 3
Brazil ---> 3
Gran Canaria ---> 2
Kenya ---> 9
Australia ---> 6

In [6]:
final_df = pd.DataFrame({"name": c_name, "count": c_count})
final_df.head()

         name  count
0         USA   1344
1       China    268
2  Kazakhstan    701
3       Japan    126
4      Israel     11

Now , importing another file which contains all the country codes and will be helpful to create the the chlorpleth plot.

In [7]:
cc = pd.read_csv("../datasets/Country_Codes.csv")
cc.head()

,FIFA,Dial,ISO3166-1-Alpha-3,MARC,is_independent,ISO3166-1-numeric,GAUL,FIPS,WMO,ISO3166-1-Alpha-2,...,Sub-region Name,official_name_ru,Global Name,Capital,Continent,TLD,Languages,Geoname ID,CLDR display name,EDGAR
0,TPE,886,TWN,ch,Yes,158.0,925,TW,NaN,TW,...,NaN,NaN,NaN,Taipei,AS,.tw,"zh-TW,zh,nan,hak",1668284.0,Taiwan,NaN
1,AFG,93,AFG,af,Yes,4.0,1,AF,AF,AF,...,Southern Asia,Афганистан,World,Kabul,AS,.af,"fa-AF,ps,uz-AF,tk",1149361.0,Afghanistan,B2
2,ALB,355,ALB,aa,Yes,8.0,3,AL,AB,AL,...,Southern Europe,Албания,World,Tirana,EU,.al,"sq,el",783754.0,Albania,B3
3,ALG,213,DZA,ae,Yes,12.0,4,AG,AL,DZ,...,Northern Africa,Алжир,World,Algiers,AF,.dz,ar-DZ,2589581.0,Algeria,B4
4,ASA,1-684,ASM,as,Territory of US,16.0,5,AQ,NaN,AS,...,Polynesia,Американское Самоа,World,Pago Pago,OC,.as,"en-AS,sm,to",5880801.0,American Samoa,B5

In [8]:
array = []

for country in final_df["name"]:
    temp = cc[cc["CLDR display name"] == country]
    if len(temp) > 0:
        array.append(temp["ISO3166-1-Alpha-3"].tolist()[0])
    else:
        array.append("None")

In [9]:
final_df["alpha_3"] = array
final_df

                              name  count alpha_3
0                              USA   1344    None
1                            China    268     CHN
2                       Kazakhstan    701     KAZ
3                            Japan    126     JPN
4                           Israel     11     ISR
5                      New Zealand     13     NZL
6                           Russia   1395     RUS
7        Shahrud Missile Test Site      1    None
8                           France    303     FRA
9                             Iran     13     IRN
10                           India     76     IND
11                      New Mexico      4    None
12                      Yellow Sea      1    None
13                     North Korea      5     PRK
14  Pacific Missile Range Facility      1    None
15                   Pacific Ocean     36    None
16                     South Korea      3     KOR
17                     Barents Sea      3    None
18                          Brazil      3     BRA
19                    Gran Canaria      2    None
20                           Kenya      9     KEN
21                       Australia      6     AUS

We can see ther are some None values , so we must omit them.

**Special Case** : We can see that USA is also None , so adding it's iso code

In [10]:
final_df.iloc[0, -1] = "USA"

In [11]:
unknown_data = final_df[final_df["alpha_3"] == "None"].index

final_df.drop(unknown_data, inplace=True)

final_df

           name  count alpha_3
0           USA   1344     USA
1         China    268     CHN
2    Kazakhstan    701     KAZ
3         Japan    126     JPN
4        Israel     11     ISR
5   New Zealand     13     NZL
6        Russia   1395     RUS
8        France    303     FRA
9          Iran     13     IRN
10        India     76     IND
13  North Korea      5     PRK
16  South Korea      3     KOR
18       Brazil      3     BRA
20        Kenya      9     KEN
21    Australia      6     AUS

Now we are good to plot the chloropleth graph as per the count of their space missions.

In [12]:
fig = px.choropleth(
    final_df,
    locations="alpha_3",
    color="count",
    hover_name="name",
    color_continuous_scale=px.colors.sequential.Plasma,
)
fig.update_layout(
    title_text="Countries in Space Race",
)
fig.show()